{
    # sections and chapters
    "Part": {
        "prefix": ["\\part","part"],
        "body": [
            "\\part{${1:part name}}%",
            "\\label{prt:${2:part name}}",
            "$0"
        ],
        "description": "Part"
    },

	"Chapter": {
        "prefix": ["\\chapter", "chapter"],
        "body": [
            "\\chapter{${1:chapter name}}%",
            "\\label{cha:${2:chapter name}}",
            "$0"
        ],
        "description": "Chapter"
    },

	"Section": {
        "prefix": ["\\section", "section"],
        "body": [
            "\\section{${1:section name}%",
            "\\label{sec:${2:section name}",
            "$0"
        ],
        "description": "Sub Section"
    },
    "Sub Section": {
        "prefix": ["\\subsection", "subsection"],
        "body": [
            "\\subsection{${1:subsection name}}%",
            "\\label{sub:${2:subsection name}}",
            "$0"
        ],
        "description": "Sub Section"
    },
    "Sub Sub Section": {
        "prefix": ["\\subsubsection", "subsubsection"],
        "body": [
            "\\subsubsection{${1:subsubsection name}}%",
            "\\label{ssub:${2:subsubsection name}}",
            "$0"
        ],
        "description": "Sub Sub Section"
    },

	"Paragraph": {
        "prefix": ["\\paragraph", "paragraph"],
        "body": [
            "\\paragraph{${1:paragraph name}}%",
            "\\label{par:${2:paragraph name}}",
            "$0"
        ],
        "description": "Paragraph"
    },
    "Sub Paragraph": {
        "prefix": ["\\subparagraph", "subparagraph"],
        "body": [
            "\\subparagraph{${1:subparagraph name}}%",
            "\\label{subp:${2:subparagraph name}}",
            "$0"
        ],
        "description": "Sub Paragraph"
    }
}